@page
@model Auction.Pages.CreateAuctionModel

<div class="create-auc-wrapper">
    <h3>СТВОРИТИ АУКЦІОН</h3>
    <div class="create-auc-wrapper-content">
        <h3 class="create-auc-h3">Завантажте фото</h3>
        <form action="" method="post">
            <input type="file" name="" accept="">
            <input class="enter-ph-f" type="submit" value="Підтвердити">
        </form>
        <h3 class="create-auc-h3">Назва</h3>
        <form>
            <input class="form1-cr-auc" type="text">
        </form>
        <h3 class="create-auc-h3">Опис</h3>
        <form>
            <input class="form2-cr-auc" type="text">
        </form>
        <h3 class="create-auc-h3">Стартова ціна</h3>
        <form>
            <input class="form3-cr-auc" type="number">
        </form>
        <button class="create-auc-btn">Зберегти</button>
    </div>
</div>