@page
@model Auction.Pages.LoginModel

<div class="reg-wrapper">
    <h3 class="reg-h">ВХІД</h3>
    <h3 class="log-txt">Логін</h3>
    <form>
        <input class="form-reg" type="text" placeholder="Введіть логін">
    </form>
    <h3 class="log-txt">Пароль</h3>
    <form>
        <input class="form-reg" type="text" placeholder="Введіть пароль">
    </form>
    <div>
        <button class="register-btn">Вхід</button>
    </div>
</div>