@page
@model Auction.Pages.ProfileModel

<div class="profile-wrapper">
    <div class="myinfo">
        <h3 class="profile-h">ПРОФІЛЬ КОРИСТУВАЧА</h3>
        <h4 class="pr-inf">Оггі Кукарачі Скубіду</h4>
        <h4 class="pr-inf">email</h4>
    </div>

    <div class="profile-oppor">
        <h3 class="my-auc">МОЇ АУКЦІОНИ</h3>
        <div class="pr-cont-wr">
            <div class="main-sc-auc-item">
                <button class="create-btn">+</button>
            </div>

            <div class="main-sc-auc-item">
                <img src="~/assets/img.jpg" alt="це картінка вірте мені">
                <p class="main-sc-auc-item-h">Якусь хуйню продають</p>
                <div class="main-sc-auc-item-wr">
                    <p class="main-sc-auc-item-pr-p">Початкова ціна: </p>
                    <span class="main-sc-auc-item-pr-sp">1200</span>
                </div>

                <div class="pr-edit-btn-wr">
                    <button class="pr-edit-btn">Редагувати</button>
                </div>
            </div>
        </div>
    </div>
</div>