@page
@model Auction.Pages.RegistrationModel

<div class="reg-wrapper">
    <h2 class="reg-h">РЕЄСТРАЦІЯ</h2>
    <div class="reg-div">
        <h3>Прізвище, Ім'я, По батькові</h3>
        <form>
            <input class="form-reg" type="text" placeholder="Введіть своє ПІБ">
        </form>
        <h3>Телефон</h3>
        <form>
            <input class="form-reg" type="text" placeholder="Введіть свій номер ">
        </form>
        <h3>E-mail</h3>
        <form>
            <input class="form-reg" type="text" placeholder="Введіть E-mail">
        </form>
        <h3>Пароль</h3>
        <form>
            <input class="form-reg" type="text" placeholder="Створіть пароль">
        </form>
        <h3>Підтвердження паролю</h3>
        <form>
            <input class="form-reg" type="text" placeholder="Підтвердіть пароль">
        </form>

    </div>
    <div>
        <button class="register-btn">Зареєструватися</button>
    </div>
</div>