@page
@model Auction.Pages.ViewAuctionModel

<div class="view-auc-wr">
    <h2 class="my-auc view-auc-h2">НАЗВА АУКЦІОНУ</h2>
    <div class="view-auc-main">
        <img class="auc-img" src="~/assets/img.jpg" alt="це картінка вірте мені">
        <div>
            <p class="view-auc-p">
                Стильна сумка-тоут Onthego розміру GM відрізняє легендарний візерунок Monogram великого формату - ефектна прикраса аксесуари. Містка модель, доповнена двома класичними ручками Toron, одним великим відділенням, усередині якого є маленьке відділення на змійці стане ідеальним супутником на кожен день. Вага: 910 гр.
            </p>
            <div class="view-auc-main-cont">
                <h3 class="view-auc-h3">СТАРТОВА ЦІНА</h3>
                <span class="view-auc-span">1200</span>
            </div>
        </div>
    </div>
    <div class="view-auc-btns">
        <a class="v-auc-btn" href="">ІСТОРІЯ СТАВОК</a>
        <a class="v-auc-btn" href="">ПОСТАВИТИ СТАВКУ</a>
    </div>
</div>