@page
@model Auction.Pages.ViewAuctionBetsModel

<div class="view-b-wr">
    <h2 class="my-auc view-b-h2">ІСТОРІЯ СТАВОК</h2>
    <div class="view-b-main-cont">
        <div class="view-b-cont">
            <div class="view-b-cont-item">
                <p class="view-b-name">КОРИСТУВАЧ</p>
                <p class="view-b-name">СТАВКА -></p>
                <span class="view-b-bet">1200</span>
            </div>

            <div class="view-b-cont-item">
                <p class="view-b-name">КОРИСТУВАЧ</p>
                <p class="view-b-name">СТАВКА -></p>
                <span class="view-b-bet">1200</span>
            </div>
        </div>
    </div>
</div>